:root {
  --shadow-color: rgba(0,0,0,0.5);
  --shadow-base: 4px 4px 16px 0px var(--shadow-color);
  --shadow-hover: 8px 8px 16px 0px var(--shadow-color);
  --shadow-active: 0px 0px 16px 0px var(--shadow-color);

  --godot-dark: #1d2229;
  --godot-mid: #252b34;
  --godot-raised: #363d4a;
  --godot-link: #9cc1e2;
  --godot-text: #bdbec0;
  --godot-title: #70bafa;

  --variant-red: #fc7f7f;
  --variant-blue: #8da5f3;
  --variant-green: #8eef97;
  --variant-yellow: #ffca5f;
  --variant-gray: #e0e0e0;
  --variant-white: #ffffff;
  --variant-black: #000000;

  --content-bg-color: var(--godot-mid);

  background-color: var(--godot-dark);
}

body {
  background-color: var(--content-bg-color);
  color: var(--godot-text);
  font-family: sans-serif;

  max-width: 100vh;
  margin: auto;
  padding: 1em;
}

h1 {
  color: var(--variant-yellow);
}

h2,h3,h4,h5,h6 {
  color: var(--godot-title);
}

h1>img {
  height: 1em;
}

a {
  color: var(--godot-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--godot-raised);
  font: inherit;
  color: inherit;

  border: none;
  padding: 4px;
  margin: 4px;

  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;

  box-shadow: 2px 2px 8px 0px var(--shadow-color);
  transition: box-shadow 0.1s ease-in-out;
}

button:hover {
  box-shadow: 4px 4px 8px 0px var(--shadow-color);
}

button:active {
  box-shadow: 0px 0px 8px 0px var(--shadow-color);
}

button>img {
  height: 1em;
  margin-right: 4pt;
}

input {
  background-color: inherit;
  font: inherit;
  color: inherit;
  border: 0px;
  box-shadow: 0px 0px 4px 0px var(--shadow-color);
  padding: 4pt;
}

.toolbar {
  position: sticky;
  top: 0;
  background-color: var(--content-bg-color);
}

.variant-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 4pt;
  border-radius: 1em;
}

.variant-color-gray {
  background-color: var(--variant-gray);
}

.variant-color-red {
  background-color: var(--variant-red);
}

.variant-color-blue {
  background-color: var(--variant-blue);
}

.variant-color-green {
  background-color: var(--variant-green);
}

.variant-color-yellow {
  background-color: var(--variant-yellow);
}

.variant-color-white {
  background-color: var(--variant-white);
}

.variant-color-black {
  background-color: var(--variant-black);
}

img.icon-inline {
  height: 16px;
}

.icon-card {
  display: inline-block;
  background-color: var(--godot-raised);
  width: 128pt;
  max-width: 20vw;
  aspect-ratio: 1/1;
  box-shadow: var(--shadow-base);
  transition: box-shadow 0.1s ease-in-out;
}

.icon-card:hover {
  box-shadow: var(--shadow-hover);
}

.icon-card:active {
  box-shadow: var(--shadow-active);
}

.icon-card img {
  width: 100%;
  height: 100%;
}

.icon-modal {
  box-shadow: 0px 16px 32px 8px rgba(0,0,0,1);
  background-color: var(--godot-raised);
  padding: 1rem;
}

.icon-preview {
  display: inline-block;
  background-color: var(--godot-mid);
  width: 128pt;
  height: 128pt;
}

.icon-preview img {
  width: 100%;
  height: 100%;
}

.icon-form {
  display: inline-block;
  vertical-align: top;
}

.icon-snippet {
  display: flex;
  align-items: center;
  padding: 2pt;
  margin: 2pt;
  width: 100%;
  max-width: 80vw;
  background-color: var(--godot-mid);
  font-family: monospace;
}

.icon-snippet > input {
  flex-grow: 1;
  background: none;
  box-shadow: none;
}

.icon-snippet::after {
  content: '📋';
  text-align: right;
}

.copied::after {
  content: '✅';
}

.modal {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  z-index: 1024;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  text-align: right;
  position: relative;
}

.searchbar {
  display: flex;
  align-items: center;
  padding: 2pt;
  margin: 2pt;
  width: 100%;
  background-color: var(--godot-dark);
}

.searchbar > input {
  flex-grow: 1;
}
